
<h1 *ngIf='title =="hello"'>Title varibale value is {{title}}</h1>
<p>====================================================================================================</p>
<div *ngFor="let item of stringArray">
 <h3> {{item}} </h3>
</div>

<p>====================================================================================================</p>

<h3>click on button to get obj collection ==></h3> <button (click)="AddValueToProductObj()"> Click me</button>


<table *ngIf="ProductArray">
  <thead>
    <th>id</th>
    <th>name</th>
    <th>address</th>
  </thead>

  <tr *ngFor="let item of ProductArray">
    <td><input type="text" value="{{item.id}}"></td>
    <td><input type="text" value="{{item.name}}"></td>
    <td><input type="text" value="{{item.address}}"></td>
  </tr>
</table>

<p>====================================================================================================</p>


<ul>
  <li>
    <a routerLink ="/student">Call student component</a>
    </li>
    <li>
      <a routerLink="/teacher">Call teacher component</a>
    </li>

    <li>
      <a routerLink="/parent-child">Parent to Child communication</a>
    </li>

</ul>

<router-outlet></router-outlet>

<p>====================================</p>










